#main {
    background-color: transparent;
}
#back {
    background-color: transparent;
}
#cardContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
}
.card {
    width: 32%;
    background-color: white;
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.52);
}
.card h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #e37c02;
    padding: .5em 0 0 1em;
}
.card p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding: 1em;
    text-indent: 2em;
    line-height: 1.2em;
}
